.star svg {
	margin-right: 5px;
}

.editable {
	cursor: pointer;
}

.ratingWrapper {
	position: relative;
}

// .errorMessage {
// 	position: absolute;
// 	bottom: -15px;
// 	left: 0;

// 	color: var(--red);

// 	font-weight: bold;
// }

// .error svg {
// 	stroke: var(--red);
// }
