.button {
  display: inline-flex;

  box-sizing: border-box;
  padding: 12px 17px;
  cursor: pointer;
  transition: all 0.5s;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  border: 2px solid;
  border-radius: 22px;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
}
.primary {
  color: white;
  background-image: linear-gradient(
    to right,
    #bc9cff 0%,
    #8ba4f9 51%,
    #ab83ff 100%
  );

  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;

  &:hover {
    text-decoration: none;

    color: #fff;
    background-position: right center; /* change the direction of the change here */
  }
}

.ghost {
  opacity: 0.5;
  color: white;
  background-image: linear-gradient(
    to right,
    #bc9cff 0%,
    #8ba4f9 51%,
    #ab83ff 100%
  );

  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  &:hover {
    opacity: 1;
    text-decoration: none;

    color: #fff;
    background-position: right center; /* change the direction of the change here */
  }
}

.ghostBorder {
  opacity: 0.5;
}

.primaryBorder,
.ghostBorder {
  transition: all 0.6s;
  color: var(--purple);
  border: solid 2px transparent;
  background-image: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  background-origin: border-box;
  box-shadow: 2px 100px 1px #fff inset;

  &:hover {
    color: var(--white);
    background: linear-gradient(100deg, #bc9cff 10%, #8ba4f9 90%);
    box-shadow: none;
  }
}

.unactive {
  cursor: default;
  pointer-events: none;
  color: var(--dark50);
  border: none;
  background: none;

  &:hover {
    background: none;
  }
}

.right {
  display: inline-block;
  fill: var(--white);

  height: 15px;
  margin-left: 10px;
}
