.customSwitch {
  position: relative;

  display: inline-flex;
  align-items: center;
}

.switchCheckbox {
  position: absolute;
  top: 1px;
  left: 1px;

  width: 40px;
  height: 20px;

  opacity: 1;
}

.switchLabel {
  position: relative;

  cursor: pointer;
  transition: all 0.5s;
}

.switchLabel::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 40px;
  height: 20px;

  content: '';
  transition: all 0.5s;

  border: 1px solid var(--dark25);
  border-radius: 100px;
  background: rgb(255, 255, 255);
}

.switchLabel::after {
  position: absolute;
  top: 5px;
  left: 17px;

  width: 12px;
  height: 12px;

  content: '';
  transition: all 0.4s;

  border-radius: 45px;
  background: var(--dark25);
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.switchCheckbox + .switchLabel::after {
  transform: translateX(-100%);

  background: var(--dark25);
}

.switchCheckbox:hover + .switchLabel::before {
  border-color: var(--purple);
}

.switchCheckbox:checked + .switchLabel::after {
  left: calc(40px - 2px);

  transform: translateX(-100%);

  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

.switchCheckbox:checked + .switchLabel::before {
  width: 40px;
  height: 20px;

  border: 1px solid var(--purple);
}

.info {
  padding-left: 50px;
}
