.accordion {
	display: flex;
	flex-direction: column;

	margin-bottom: 30px;
}

.accordionTitle {
	display: inline-flex;

	overflow: hidden;
	align-items: center;

	cursor: pointer;
}

.children {
	z-index: 10;

	display: flex;
	flex-direction: column;

	padding: 15px;

	color: var(--dark75);
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.9);

	// padding-top: 10px;
	// margin-bottom: 15px;
}

.Htag {
	text-transform: uppercase;
}

.arrowIcon {
	margin-left: 8px;

	transition: all 0.5s;
}

.arrowIconSearch {
	margin-left: 45px;

	transition: all 0.5s;
}

.arrowIconDown {
	transform: rotate(180deg);
}

@media (max-width: 910px) {
	.header {
		padding: 15px 15px 0 15px;
	}
}
