.card {
	margin: 15px;

	border-radius: 5px;
	background-color: var(--white);
	box-shadow: 0 0 10px 10px rgba(31, 32, 65, 0.1);
}

.hotel {
	width: 726px;
	min-height: 341px;
}

.room {
	width: 270px;
	min-height: 257.5px;
}
