.wrapper {
	display: grid;

	min-height: 100vh;

	grid-template-columns: auto minmax(320px, 1400px) auto;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		'. header .'
		'body body body'
		'. footer .';
}

.wrapperSidebar {
	min-height: 100vh;
	padding: 0 15px;
	grid-template-columns: auto 265px minmax(320px, 1135px) auto;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		'. header header .'
		'. sidebar body .'
		'. footer footer .';
}

.header {
	padding: 18px 15px;
	grid-area: header;
}

.sidebar {
	grid-area: sidebar;
}

.body {
	display: flex;
	justify-content: center;

	padding: 0 15px;

	grid-area: body;
}

.footer {
	padding: 0 15px;
	grid-area: footer;
}

.background1 {
	min-height: 900px;

	background-image: url('/img/backgrounds/image1.jpg');
	background-repeat: no-repeat; /* Do not repeat the image */
	background-position: center; /* Center the image */
	background-size: cover;
}

.background2 {
	min-height: 900px;

	background-image: url('/img/backgrounds/image2.jpg');
	background-repeat: no-repeat; /* Do not repeat the image */
	background-position: center; /* Center the image */
	background-size: cover;
}

.background3 {
	min-height: 900px;

	background-image: url('/img/backgrounds/image3.jpg');
	background-repeat: no-repeat; /* Do not repeat the image */
	background-position: center; /* Center the image */
	background-size: cover;
}

.background4 {
	min-height: 900px;

	background-image: url('/img/backgrounds/image4.jpg');
	background-repeat: no-repeat; /* Do not repeat the image */
	background-position: center; /* Center the image */
	background-size: cover;
}
