.button {
	width: 40px;
	height: 40px;

	cursor: pointer;
	transition: all 0.5s;

	border: none;
	border-radius: 10px;
}

.up {
	background-image:
		linear-gradient(
			to bottom,
			#BC9CFF 0%,
			#8BA4F9 51%,
			#AB83FF 100%
		);

	background-size: auto 200%;
	box-shadow: (0 4px 4px rgba(0, 0, 0, 0.25));

	&:hover {
		text-decoration: none;

		color: #FFF;
		background-position: bottom center; /* change the direction of the change here */
	}
}

.pagination {
	transform: rotate(90deg);

	border-radius: 22px;

	background-image:
		linear-gradient(
			to bottom,
			#6FCF97 0%,
			#66D2EA 51%,
			#6FCF97 100%
		);

	background-size: auto 200%;

	&:hover {
		text-decoration: none;

		color: #FFF;
		background-position: right center; /* change the direction of the change here */
	}
}

.like {
	display: inline-flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;

	width: 40px;
	height: 20px;

	color: var(--purple);
	border: 1px solid;
	border-color: var(--purple);

	font-size: 10px;
	line-height: 12px;

	&:hover {
		color: var(--dark25);
		border-color: var(--dark25);
		background-color: var(--white);

		& svg {
			fill: var(--dark25);
		}
	}
}

.menu,
.close {
	background: transparent;
}

.close {
	&:hover {
		transform: rotate(45deg);
	}
}

.menu {
	&:hover {
		transform: rotate(90deg);
	}
}

.inputArrow {
	background: transparent;
}
