.container {
	display: flex;
	align-items: center;
	justify-content: center;

	padding-top: 20px;
  padding-bottom: 45px;
}

.slider {
	position: relative;

	width: 266px;
}

.slider__track,
.slider__range,
.slider__leftValue,
.slider__rightValue {
	position: absolute;
}

.slider__track,
.slider__range {
	height: 3px;

	border-radius: 3px;
}

.slider__track {
	z-index: 1;

	width: 100%;

	border: 1px solid var(--dark25);
	background-color: #FFF;
}

.slider__range {
	z-index: 2;

	background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.slider__leftValue,
.slider__rightValue {
	margin-top: 20px;
	// display: none;
	color: #0078F0;

	font-size: 12px;
}

// value slider
.slider__leftValue {
	left: 6px;
}

.slider__rightValue {
	right: -4px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
}

.thumb {
	position: absolute;

	width: 266px;
	height: 0;

	pointer-events: none;
}

.thumbLeft {
	z-index: 3;
}

.thumbRight {
	z-index: 4;
}

.thumb::-webkit-slider-thumb {
	position: relative;

	width: 12px;
	height: 12px;
	margin-top: 4px;

	cursor: pointer;
	pointer-events: all;

	border: none;
	border-radius: 50%;
	background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
	box-shadow: 0 0 0 2px #FFF;
}
