.hotelCard {
	padding: 10px;
}

.hotel {
	display: flex;
	flex-direction: column;
}

.hotelInfo {
	display: grid;
	gap: 10px;

	margin-top: 15px;
	//   margin-left: 15px;
}

.hotelImg {
	position: relative;
	z-index: 1;

	display: flex;

	overflow: hidden;
	align-items: center;

	min-width: 380px;
	height: 240px;

	border-radius: 10px;

	& img {
		position: absolute;

		max-width: 100%;
		height: auto;

		border-radius: 10px;
	}
}

.hotelInfoFoter {
	display: flex;
	flex-direction: column;
}

.hotelDescription {
	margin-top: 15px;
	margin-right: 20px;
	padding: 5px 5px 15px 15px;
}

.hotelBtn {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	padding-right: 15px;
}

@media (max-width: 640px) {
	.hotelImg {
		min-width: 280px;
	}

	.hotel {
		display: flex;
		flex-direction: column;
	}

	.hotelDescription {
		display: none;
	}

	.hotelInfo {
		display: flex;
		justify-content: center;

		margin-top: 20px;
		gap: 15px;
	}
}

@media (max-width: 640px) {
	.hotelImg {
		min-width: 280px;
	}

	.hotel {
		display: flex;
		flex-direction: column;
	}

	.hotelInfo {
		display: grid;

		margin-top: 5px;
	}
}

@media (min-width: 1150px) {
	.hotelImg {
		min-width: 280px;
	}

	.hotel {
		flex-direction: row;
	}

	.hotelInfo {
		margin-left: 20px;
	}
}
