.button {
	display: inline-flex;

	box-sizing: border-box;
	height: fit-content;
	padding: 10px 19px;

	cursor: pointer;
	transition: all 0.5s;
	text-align: center;
	text-transform: uppercase;

	color: var(--white);
	border: 2px solid;
	border-radius: 22px;

	font-size: 12px;
	font-weight: bold;
	line-height: 15px;
}

.primary {
	color: white;
	background-image:
		linear-gradient(
			to right,
			#BC9CFF 0%,
			#8BA4F9 51%,
			#AB83FF 100%
		);

	background-size: 200% auto;
	// box-shadow: 0 0 20px #EEE;

	&:hover {
		text-decoration: none;

		color: #FFF;
		background-position: right center; /* change the direction of the change here */
	}
}

.ghost {
	opacity: 0.5;
	color: white;
	background-image:
		linear-gradient(
			to right,
			#BC9CFF 0%,
			#8BA4F9 51%,
			#AB83FF 100%
		);

	background-size: 200% auto;
	box-shadow: 0 0 20px #EEE;

	&:hover {
		text-decoration: none;

		opacity: 1;

		color: #FFF;
		background-position: right center; /* change the direction of the change here */
	}
}

.ghostBorder {
	opacity: 0.5;
}

.primaryBorder,
.ghostBorder {
	transition: all 0.6s;

	color: var(--purple);
	border: solid 2px transparent;
	background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	background-origin: border-box;
	box-shadow: 2px 100px 1px #FFF inset;

	&:hover {
		color: var(--white);
		background: linear-gradient(100deg, #BC9CFF 10%, #8BA4F9 90%);
		box-shadow: none;
	}
}

.unactive {
	cursor: default;
	pointer-events: none;

	color: var(--dark100);
	border: var(--dark50);
	background: var(--dark50);

	&:hover {
		background: none;
	}
}

.right {
	display: inline-block;
	fill: var(--white);

	height: 15px;
	margin-left: 10px;
}

.primaryPagination {
	border-radius: 22px;

	background-image:
		linear-gradient(
			to right,
			#6FCF97 0%,
			#66D2EA 51%,
			#6FCF97 100%
		);

	background-size: 200% auto;

	&:hover {
		text-decoration: none;

		color: #FFF;
		background-position: right center; /* change the direction of the change here */
	}
}

.activePagination {
	cursor: auto;

	border-radius: 22px;

	background-image:
		linear-gradient(
			to right,
			#B46FCF 0%,
			#66D2EA 51%,
			#82CF6F 100%
		);

	background-size: 200% auto;
	// &:hover {
	//   text-decoration: none;

	//   color: #fff;
	//   background-position: right center; /* change the direction of the change here */
	// }
}
