.accordion {
	display: flex;
	flex-direction: column;
}

.accordionTitle {
	display: inline-flex;

	overflow: hidden;
	align-items: center;

	margin-bottom: 10px;

	cursor: pointer;
}

.children {
	position: absolute;
	z-index: 10;

	display: flex;

	margin-top: 35px;

	// padding-top: 10px;
	// margin-bottom: 15px;
}

.Htag {
	text-transform: uppercase;
}

.arrowIcon {
	margin-left: 8px;

	transition: all 0.5s;
}

.arrowIconSearch {
	margin-left: 45px;

	transition: all 0.5s;
}

.arrowIconDown {
	transform: rotate(180deg);
}
