.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  ///////////////////////////////////////////////
  border-radius: 15px;
  box-shadow: 4px 5px 20px rgba(8, 15, 224, 0.15);
}

.logo {
  margin-right: 10px;

  transition: all 0.5s;

  &:hover {
    transform: scale(1.15);
  }
}

.mobileMenu {
  display: flex;
}

.menuIcon {
  display: none;
}
.menuClose {
  display: none;
}

@media (max-width: 910px) {
  .header {
    padding: 15px 15px 0 15px;
  }

  .menuIcon,
  .menuClose {
    display: block;
  }
}
