.searchForm {
	margin-top: 30px;
}

// .dates {
// }

.guests {
	margin-top: 20px;
}

.price {
	margin-top: 30px;
}

.priceInfo {
	color: var(--dark50);

	font-size: 12px;
	line-height: 14px;
}

.rules {
	margin-top: 30px;
}

.accessability {
	margin-top: 30px;
}

.room {
	margin-top: 30px;
}

.amenities {
	margin-top: 15px;
}
